---
import Layout from "../layouts/Layout.astro";
import MarqueEvent from "../components/MarqueEvent.astro";

import clay2024 from "../images/board/2024/clay.jpg";
import marchosias2024 from "../images/board/2024/marchosias.jpg";
import sharp2024 from "../images/board/2024/sharp.jpg";
import boopHero from "../images/boop-hero.png";
import bs from "../images/icons/ico-bs.png";
import fb from "../images/icons/ico-fb.png";
import fl from "../images/icons/ico-fl.png";
import ig from "../images/icons/ico-ig.png";
import mail from "../images/icons/ico-mail.png";
import tg from "../images/icons/ico-tg.png";
import tw from "../images/icons/ico-tw.png";
import ace2025 from "../images/officers/2025/ace.png";
import champ2025 from "../images/officers/2025/champ.png";
import dono2025 from "../images/officers/2025/dono.png";
import kie2025 from "../images/officers/2025/kie.png";
import neil2025 from "../images/officers/2025/neil.png";
import polygon2025 from "../images/officers/2025/polygon.png";
import tigerdill2025 from "../images/officers/2025/tigerdill.png";

const board = [
  {
    name: "Marchosias",
    image: marchosias2024,
  },
  {
    name: "Polygon",
    image: polygon2025,
  },
  {
    name: "Kie",
    image: kie2025,
  },
  {
    name: "Sharp",
    image: sharp2024,
  },
  {
    name: "Clay",
    image: clay2024,
  },
  {
    name: "Champ the Fox",
    image: champ2025,
  },
  {
    name: "Neil",
    image: neil2025,
  },
];

const officers = [
  {
    image: kie2025,
    title: "President",
    name: "Kie",
    email: "kie@boopsocietyctx.org",
  },
  { image: champ2025,
    title: "Vice President",
    name: "Champ the Fox",
    email: "champ@boopsocietyctx.org"
  },
  { image: neil2025,
    title: "Secretary (Interim)",
    name: "Neil",
    email: "neil@boopsocietyctx.org"
  },
  { image: polygon2025,
    title: "Treasurer",
    name: "Polygon",
    email: "polygon@boopsocietyctx.org"
    },
  {
    image: ace2025,
    title: "Event Coordinator (Interim)",
    name: "Ace",
    email: "ace@boopsocietyctx.org",
  },
  {
    image: neil2025,
    title: "Membership Coordinator",
    name: "Neil",
    email: "volunteer@boopsocietyctx.org",
  },
  {
    image: tigerdill2025,
    title: "Inventory Manager",
    name: "Tigerdill",
    email: "equipment@boopsocietyctx.org",
  },
  { image: dono2025,
    title: "Webmaster",
    name: "Dono",
    email: "webmaster@boopsocietyctx.org"
  },
];

const canonicalHost = new URL(Astro.request.url).host;
---

<Layout>
  <main class="container max-w-container">
    <div
      id="main"
      class="mb-60 flex h-[calc(100vh-8rem)] w-full flex-col items-center justify-center gap-[5vw] px-[5vw] md:h-[calc(100vh-3rem)] md:flex-row md:justify-end"
    >
      <div class="basis-auto">
        <img
          src={boopHero.src}
          width="480"
          height="480"
          loading="eager"
          alt="Boop Society Hero Image"
        />
      </div>
      <div class="basis-[min-content]">
        <h1 class="text-center text-6xl font-bold md:text-justify">
          The Boop Society of Central Texas
        </h1>
      </div>
    </div>
    <div class="container max-w-long-prose">
      <h2 id="about" class="scroll-mt-20">Mission</h2>
      <p class="text-center font-sans text-xl">
        We are the Boop Society of Central Texas, a non-profit organization
        dedicated to aiding organizational support for local, social, and
        educational events in the Central Texas area. We host 4 monthly social
        events, quarterly educational workshops, moshes, find volunteers to aid
        setting up events, and help assess locations and organizations for
        suitable safe spaces to ensure that they have the equipment necessary to
        safely host and promote pet play. We accept all critters (pups, kittens,
        ponies, dragons, and any other species, existing or imagined) and lovers
        of regardless of gender, sexuality, and background and help them find
        the best ways for them to live their best critter life. We hope to be a
        resource for any information a pet player may be looking for, and always
        look to help facilitate anything a pet player wants to make happen when
        we can.
      </p>

      <h2 id="events" class="mb-12 mt-40 scroll-mt-20">Our Monthly Events</h2>
      <div class="flex flex-col gap-10 px-4">
        <MarqueEvent
          header="Critter Mosh at The Eagle"
          desc="THE AUSTIN EAGLE | 1st MONDAYS | 7:30 PM | 21+"
          class="justify-around"
        />
        <MarqueEvent
          header="Off The Leash - Park Munch/Social"
          desc="MUELLER DOG PARK | 2ND SATURDAYS | 6 PM (Apr-Oct) | 2 PM (Nov-Mar) | 18+"
          class="justify-around"
        />
        <MarqueEvent
          header="Snoot Boop Munch"
          desc="THE AUSTIN EAGLE | 3rd WEDNESDAYS | 7 PM | 21+"
          class="justify-around"
        />
        <MarqueEvent
          header="The Eagle Ark: FUR and Kennel Club Nights Combined!"
          desc="THE AUSTIN EAGLE | 3RD FRIDAYS | 9:30 PM | 21+"
          class="justify-around"
        />
        <MarqueEvent
          header="Full Moon Howl - Summer Swimming"
          desc="BARTON SPRINGS POOL (Apr-Oct) | FULL MOON NIGHTS | 8 PM | 18+"
          class="justify-around"
        />
        <MarqueEvent
          header="Full Moon Howl - Winter Hikes"
          desc="An Austin Park (Nov-Mar) | FULL MOON NIGHTS | 8 PM | 18+"
          class="justify-around"
        />
        <MarqueEvent
          header="Educational Workshops"
          desc="HELD EVERY QUARTER | 18+"
          class="justify-around"
        />
        <p class="mt-2 font-sans font-semibold">
          You can view the <a class="underline" href="/calendar"
            >live calendar of upcoming events and RSVP ahead here</a
          >.<br /><br />
          <span class="font-thin"
            >The live calendar is also available <a
              class="underline"
              href={`webcal://${canonicalHost}/calendar.ics`}>via iCal</a
            >.</span
          >
        </p>
      </div>
      <h2 id="board" class="mb-12 mt-40 scroll-mt-20">Board of Directors</h2>
      <div
        class="mt-20 flex flex-auto flex-col items-center gap-10 md:mb-20 md:flex-row md:gap-5"
      >
        {
          board.map(({ name, image }) => (
            <div class="flex flex-1 flex-col text-center text-5xl sm:max-w-[60vw]">
              <img
                src={image.src}
                alt={`Board Member - ${name}`}
                loading="lazy"
                width="300"
                height="300"
                class="rounded-full border-8 border-yellow-200"
              />
              <div class="mt-10 font-serif">{name as string} </div>
            </div>
          ))
        }
      </div>
      <h2 id="officers" class="mb-12 mt-40 scroll-mt-20">Officers</h2>
      <div
        class="grid gap-x-4 gap-y-10 text-center font-serif text-3xl md:grid-cols-2"
      >
        {
          officers.map((officer) => (
            <p>
              <img
                src={officer.image.src}
                alt={`Officer - ${officer.name}`}
                loading="lazy"
                width="300"
                height="300"
              />
              <br />
              {officer.title} <span class="text-yellow-400">-</span>{" "}
              {officer.name}
              <br />
              <a class="text-lg underline" href={`mailto:${officer.email}`}>
                {officer.email}
              </a>
            </p>
          ))
        }
      </div>

      <h2 id="contact" class="mb-12 mt-40 scroll-mt-20">Contact Us</h2>
      <p class="mb-10 text-center font-sans text-xl">
        If you have pet play events in the central Texas area to share with us
        to promote, want to collaborate to organize, or need some assistance to
        put together, or you have some ideas for adding education and petplay
        experiences into the community, feel free to send us an email to the
        appropriate officer <a href="#officers">listed above</a>
        or social media linked through the icons below.
      </p>
      <p class="text-center font-sans text-xl">
        If you need to send a physical mail, please use the following address:
      </p>
      <p class="mt-4 text-center font-sans text-lg font-semibold">
        6001 W Parmer Ln <br />
        Ste 370-1198 <br />
        Austin, TX 78727
      </p>
      <div
        class="mx-[2vw] mb-60 mt-20 flex flex-row flex-wrap items-center justify-center gap-4"
      >
        <a href="mailto:boop@boopsocietyctx.org">
          <img
            width="40"
            height="40"
            src={mail.src}
            alt="Boop Society E-mail"
          />
        </a>
        <a href="https://www.facebook.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={fb.src}
            alt="Boop Society Facebook Page"
          />
        </a>
        <a href="https://www.instagram.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={ig.src}
            alt="Boop Society Instagram Page"
          />
        </a>
        <a href="https://www.twitter.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={tw.src}
            alt="Boop Society Twitter Page"
          />
        </a>
        <a href="https://www.fetlife.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={fl.src}
            alt="Boop Society Fetlife Page"
          />
        </a>
        <a href="https://t.me/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={tg.src}
            alt="Boop Society Telegram Channel"
          />
          <a href="https://bsky.app/profile/boopsocietyctx.bsky.social">
            <img
              width="40"
              height="40"
              src={bs.src}
              alt="Boop Society Bluesky Page"
            />
          </a>
        </a>
      </div>
    </div>
  </main>
</Layout>
