---
import Layout from "../layouts/Layout.astro";
import MarqueEvent from "../components/MarqueEvent.astro";

import clayPic from "../images/board/clay.jpg";
import marchosiasPic from "../images/board/marchosias.jpg";
import polygonPic from "../images/board/polygon.jpg";
import boopHero from "../images/boop-hero.png";

import fb from "../images/icons/ico-fb.png";
import fl from "../images/icons/ico-fl.png";
import ig from "../images/icons/ico-ig.png";
import mail from "../images/icons/ico-mail.png";
import tg from "../images/icons/ico-tg.png";
import tw from "../images/icons/ico-tw.png";

const boardImages = [
  {
    name: "Marchosias",
    image: marchosiasPic,
  },
  {
    name: "Polygon",
    image: polygonPic,
  },
  {
    name: "Clay",
    image: clayPic,
  },
];
---

<Layout>
  <main class="container max-w-container">
    <div
      class="flex h-[calc(100vh-8rem)] w-full flex-col items-center justify-center gap-[5vw] px-[5vw] md:h-[calc(100vh-3rem)] md:flex-row md:justify-end"
    >
      <div class="basis-auto">
        <img
          src={boopHero}
          width="480"
          height="480"
          loading="eager"
          alt="Boop Society Hero Image"
        />
      </div>
      <div class="basis-[min-content]">
        <h1 class="text-center text-6xl font-bold md:text-justify">
          The Boop Society of Central Texas
        </h1>
      </div>
    </div>
    <div class="container max-w-long-prose">
      <h2 id="about" class="mb-12">Mission</h2>
      <p class="mb-10 text-center font-serif text-2xl">
        We are the Boop Society of Central Texas, a non-profit organization
        dedicated to aiding organizational support for local, social, and
        educational events in the Central Texas area. We host 4 monthly social
        events, quarterly educational workshops, moshes, find volunteers to aid
        setting up events, and help assess locations and organizations for
        suitable safe spaces to ensure that they have the equipment necessary to
        safely host and promote pet play. We accept all critters (pups, kittens,
        ponies, dragons, and any other species, existing or imagined) and lovers
        of regardless of gender, sexuality, and background and help them find
        the best ways for them to live their best critter life. We hope to be a
        resource for any information a pet player may be looking for, and always
        look to help facilitate anything a pet player wants to make happen when
        we can.
      </p>
      <h2 id="board" class="my-20">Board Members and Officers</h2>
      <div
        class="mt-20 flex flex-auto flex-col items-center gap-10 md:mb-20 md:flex-row md:gap-5"
      >
        {
          boardImages.map(({ name, image }) => (
            <div class="flex flex-1 flex-col text-center text-5xl sm:max-w-[60vw]">
              <img
                src={image}
                alt={`Board Member ${name}`}
                loading="lazy"
                width="300"
                height="300"
                class="rounded-full border-8 border-yellow-400"
              />
              <div class="mt-10 font-serif">{name as string} </div>
            </div>
          ))
        }
      </div>
      <p class="mb-20 text-center font-serif text-2xl">
        President - Marchosias <br />
        marchosias@boopsocietyctx.org <br />
        <br />
        Vice President - Polygon <br />
        polygon@boopsocietyctx.org <br />
        <br />
        Secretary/Treasurer - Clay <br />
        clay@boopsocietyctx.org <br />
        <br />
        Event Coordinator - Fenrir <br />
        events@boopsocietyctx.org <br />
        <br />
        Membership and Volunteering - Ein <br />
        volunteer@boopsocietyctx.org <br />
        <br />
        Inventory Manager - Kie <br />
        equipment@boopsocietyctx.org<br />
        <br />
        Webmaster - Lyell <br />
        webmaster@boopsocietyctx.org <br />
      </p>

      <h2 id="events" class="mb-12">Our Monthly Events</h2>
      <div class="mb-20 flex flex-col gap-10 px-4">
        <MarqueEvent
          header="Off The Leash - Park Munch/Social"
          desc="MUELLER PARK - 2ND SATURDAYS"
          class="justify-around"
        />
        <MarqueEvent
          header="Snoot Boop Munch"
          desc="THE AUSTIN EAGLE - 3rd Wednesdays - 7:00 PM"
          class="justify-around"
        />
        <MarqueEvent
          header="Paws On 4th - Bar Night"
          desc="OILCAN HARRY'S - 4TH SATURDAYS - 9:30 PM"
          class="justify-around"
        />
        <MarqueEvent
          header="Full Moon Howl (Summer)"
          desc="BARTON SPRINGS POOL (Apr-Sep) - FULL MOON NIGHTS "
          class="justify-around"
        />
        <MarqueEvent
          header="Full Moon Howl (Winter)"
          desc="Walnut Creek Park (Oct-May) - FULL MOON NIGHTS "
          class="justify-around"
        />
        <MarqueEvent
          header="Educational Workshops/Moshes"
          desc="HELD EVERY QUARTER"
          class="justify-around"
        />
      </div>
      <h2 id="contact" class="mb-12">Contact</h2>
      <p class="mb-10 text-center font-serif text-2xl">
        If you have pet play events in the central Texas area to share with us
        to promote, want to collaborate to organize, or need some assistance to
        put together, or you have some ideas for adding education and petplay
        experiences into the community, feel free to send us a message through
        e-mail or social media.
      </p>
      <p class="mb-10 text-center font-serif text-2xl">
        If you need to send a physical mail, please use the following address: <br
        />
        6001 W Parmer Ln <br />
        Ste 370-1198 <br />
        Austin, TX 78727 <br />
      </p>
      <div
        class="mx-[2vw] mt-5 flex flex-row flex-wrap items-center justify-center gap-4"
      >
        <a href="mailto:info@boopsocietyctx.org">
          <img width="40" height="40" src={mail} alt="Boop Society E-mail" />
        </a>
        <a href="https://www.facebook.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={fb}
            alt="Boop Society Facebook Page"
          />
        </a>
        <a href="https://www.instagram.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={ig}
            alt="Boop Society Instagram Page"
          />
        </a>
        <a href="https://www.twitter.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={tw}
            alt="Boop Society Twitter Page"
          />
        </a>
        <a href="https://www.fetlife.com/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={fl}
            alt="Boop Society Fetlife Page"
          />
        </a>
        <a href="https://t.me/boopsocietyctx">
          <img
            width="40"
            height="40"
            src={tg}
            alt="Boop Society Telegram Channel"
          />
        </a>
      </div>
    </div>
  </main>
</Layout>
